WORKFLOW_MODE={{ flexpart_workflow_mode }}
WORKFLOW_CONFIG=/etc/flexpart-workflow/workflow.yml
WORKFLOW_DATA_DIR=/var/lib/flexpart-workflow
WORKFLOW_LOG_DIR=/var/log/flexpart-workflow
S3_ENDPOINT_URL={{ flexpart_s3_endpoint_url }}
RAW_IFS_BUCKET={{ flexpart_raw_ifs_bucket }}
PREPROCESSED_BUCKET={{ flexpart_preprocessed_bucket }}
MODEL_OUTPUT_BUCKET={{ flexpart_output_bucket }}
PLOTS_BUCKET={{ flexpart_plots_bucket }}
AVISO_ENABLED={{ flexpart_aviso_enabled | bool | lower }}
